@import "main.scss";

.navbar-light{
  background-color: #EEF3F5!important;
  .logo{
    height: 70px;
  }

  .navbar-nav{
    .logs{
      display: flex;
      align-items: center;
    }
    .nav-link{
      color: #42474D;
      font-size: 18px;
      font-weight: 600;
      font-family: $montserrat;
      padding: 0 20px!important;
  }

  .nav-link.active{
    color: $base-color;
  }
    .navbar-toggler{
      color: black!important;
    }
  }
}


#signin{
  padding:0px 5px!important;
}

#signup{
  padding: 0px 5px!important;
}
.bar{
  font-weight: 600;
  color: #42474D;
}

@media only screen and (max-width: 999px) {
  .bar{
    display: none;
  }
  #signin{
    padding: 0 20px!important;
  }
  
  #signup{
    padding: 0 20px!important;
  }

  .sign{
    display: none;
  }
}

.navbar-light .navbar-nav .nav-link{
  &:focus{
    color: $base-color;
  }
}




